<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd"
>
    <parameters>
        <parameter key="giko_baidu_map.event_manager.class">Ivory\GoogleMap\Events\EventManager</parameter>
        <parameter key="giko_baidu_map.event_manager.builder.class">Giko\BaiduMapBundle\Model\Events\EventManagerBuilder</parameter>
        <parameter key="giko_baidu_map.event_manager.helper.class">Ivory\GoogleMap\Helper\Events\EventManagerHelper</parameter>

        <parameter key="giko_baidu_map.event.class">Ivory\GoogleMap\Events\Event</parameter>
        <parameter key="giko_baidu_map.event.builder.class">Giko\BaiduMapBundle\Model\Events\EventBuilder</parameter>
    </parameters>

    <services>
        <!-- Event manager service -->
        <service
            id="giko_baidu_map.event_manager"
            class="%giko_baidu_map.event_manager.class%"
            factory-service="giko_baidu_map.event_manager.builder"
            factory-method="build"
            scope="prototype"
        />

        <service id="giko_baidu_map.event_manager.builder" class="%giko_baidu_map.event_manager.builder.class%">
            <argument>%giko_baidu_map.event_manager.class%</argument>
        </service>

        <service
            id="giko_baidu_map.helper.event_manager"
            class="%giko_baidu_map.event_manager.helper.class%"
            public="false"
        />

        <!-- Event service -->
        <service
            id="giko_baidu_map.event"
            class="%giko_baidu_map.event.class%"
            factory-service="giko_baidu_map.event.builder"
            factory-method="build"
            scope="prototype"
        />

        <service id="giko_baidu_map.event.builder" class="%giko_baidu_map.event.builder.class%">
            <argument>%giko_baidu_map.event.class%</argument>
        </service>
    </services>
</container>
